<div :class="{'search-overlay--open' : isOpen }" class="search-overlay" id="js-search-overlay">
  <div @click="closeSearchOverlay()" class="search-overlay__close">
    {% include '@dds_premium/components/atoms/a-svg-icon.html.twig' with {
      'svgIconName': 'close'
    } %}
    <span class="search-overlay__close-label">{{ 'Close (Esc)'|t({}, {'context' : 'premium'}) }}</span>
  </div>
  <div class="search-overlay__content">
    <div class="container">
      <form action="/search" method="get">
        <div class="search-overlay__input-field">
          <input aria-label="{{ 'Search'|t({}, {'context' : 'premium'}) }}" class="input" id="js-search-overlay-input" placeholder="{{ 'Search'|t({}, {'context' : 'premium'}) }}" type="text" name="keys">
          <button class="search-overlay__submit" type="submit">
            <svg class="icon icon--search">
              <use xlink:href="/{{ directory }}/build-assets/dist/icons/icons.svg#search" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
            </svg>
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
