<footer class="footer">
    <section class="section theme-blue">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-md-3">
                    <p>
                        <b>Hello! I am the footer.</b><br>
                        Here you can add some rich text like a quote or contact information.
                        <br><br>
                        Things as a <a href="/">website</a> or <a href="mailto:test@test.dk">mailaddress</a> can be
                        underlined and hightlighted
                    </p>
                </div>
                <div class="col-xs-12 col-md-3"></div>
                <div class="col-xs-12 col-md-3">
                    <p>
                        I actually have four columns available, but now I only use three columns.
                        <br><br>
                        Try and avoid using me as a trash can for links and text
                    </p>
                </div>
                <div class="col-xs-12 col-md-3">
                    Newsletter... soon to come
                </div>
            </div>
        </div>
    </section>
</footer>