.footer {
    background-image: url('/sites/flyttilfavrskov.dk/themes/custom/dds_premium/build-assets/dist/images/footer.png');
    background-repeat: no-repeat;
    background-position: 52% top;
    background-position-y: top;
    padding-top: 227px;
    position: relative;

    @media (--viewport-sm-min) {
        background-position: 50% top;
    }

    &__inner {
        padding-top: 70px;
        padding-bottom: 70px;
        background-color: var(--color-primary);
        min-height: 149px;
        color: #fff;
        letter-spacing: 0.19px;

        div[class^="col-"] {
            @media (--viewport-sm-max) {
                &:not(:first-child) {
                    margin-top: 20px;
                }
            }
        }

        a {
            color: #fff;
        }

        p {
            margin-bottom: 10px;

            &:last-child {
                margin-bottom: 0;
            }
        }
    }
}
