.theme-grayblue {
    --theme-background-color: var(--color-secondary-light);
    --theme-color: var(--color-black);
    --theme-link-color: var(--color-black);
    --theme-divider-background-color: var(--color-black);
    --theme-accordion-border-color: var(--color-secondary);
    --theme-accordion-background-color: var(--color-white);
    --theme-accordion-text-color: var(--color-black);
    --theme-input-border: #e5e3de;
    --theme-input-color-marked: var(--color-primary);
    --theme-input-background-color: var(--color-white);
    --theme-button-background-color: var(--color-cta);
    --theme-button-color: var(--color-white);
}
