.theme-douce {
    --theme-background-color: #e7ebe3;
    --theme-color: var(--color-black);
    --theme-link-color: var(--color-black);
    --theme-divider-background-color: var(--color-black);
    --theme-accordion-border-color: #ced3c8;
    --theme-accordion-background-color: var(--color-white);
    --theme-accordion-text-color: var(--color-black);
    --theme-input-border: #e5e3de;
    --theme-input-color-marked: var(--color-primary);
    --theme-input-background-color: var(--color-white);
    --theme-button-background-color: var(--color-white);
    --theme-button-color: var(--color-black);
}
