.theme-gray-2 {
    --theme-background-color: #bdbdbd;
    --theme-color: #232323;
    --theme-button-background-color: #232323;
    --theme-button-color: #bdbdbd;
    --theme-link-color: #232323;
    --theme-divider-background-color: #232323;
    --theme-accordion-border-color: #bdbdbd;
    --theme-accordion-background-color: #fff;
    --theme-accordion-text-color: #232323;
    --theme-input-border: #fff;
    --theme-input-color-marked: #232323;
    --theme-background-svg-background-color: rgba(255, 255, 255, 0.5);
}
