.quote {
    font-weight: 300;
    font-size: 25px;
    line-height: 34px;
    position: relative;
    max-width: 750px;
    text-align: center;
    margin: 0 auto;
    font-family: var(--base-font-family);
    letter-spacing: 0.24px;

    & > p {
        display: inline;
    }

    @media (--viewport-md-min) {
        font-size: 40px;
        line-height: 55px;
    }

    .icon--quote {
        fill: #006c72;
        width: 18px;
        height: 22px;
        transform: translateY(-50%);
    }

    &__author {
        font-size: 20px;
        font-style: italic;
        margin-top: 10px;
        color: #8b8b8f;

        @media (--viewport-md-min) {
            font-size: 30px;
            margin-top: 20px;
        }
    }
}
