<div class="sub-navigation">
    <div class="sub-navigation__list">
        <a href="#" class="sub-navigation__item">
            Level 2 link
            {{> '@svg-icon' svgIconName="arrow-right" }}
        </a>
        <a href="#" class="sub-navigation__item">
            Level 2 link
            {{> '@svg-icon' svgIconName="arrow-right" }}
        </a>
        <a href="#" class="sub-navigation__item">
            Level 2 link
            {{> '@svg-icon' svgIconName="arrow-right" }}
        </a>
        <a href="#" class="sub-navigation__item">
            Level 2 link
            {{> '@svg-icon' svgIconName="arrow-right" }}
        </a>
        <a href="#" class="sub-navigation__item">
            Level 2 link
            {{> '@svg-icon' svgIconName="arrow-right" }}
        </a>
        <a href="#" class="sub-navigation__item">
            Level 2 link
            {{> '@svg-icon' svgIconName="arrow-right" }}
        </a>
        <a href="#" class="sub-navigation__item">
            Level 2 link
            {{> '@svg-icon' svgIconName="arrow-right" }}
        </a>
    </div>
</div>
