<div class="image-slideshow-wrapper js-image-slideshow-wrapper" data-autoplay="false">
    <div class="image-slideshow js-image-slideshow">
        <div class="image-slideshow-slide">
            <img class="lazyload lazyload-measure lazyload-bg" data-src="/dist/images/hero.jpg" alt="Hero image"
                data-query-obj='{"mode":"crop", "quality":"70", "center": "0.8,0.3"}' />
            {{!-- <div class="image-slideshow-slide__content">
                <h2 class="image-slideshow-slide__title">Holisticly orchestrate</h2>
                <p class="image-slideshow-slide__text">Quickly fashion flexible web-readiness through an expanded
                    array
                    of
                    potentialities. Assertively network unique schemas</p>
            </div> --}}
        </div>
        <div class="image-slideshow-slide">
            <img class="lazyload lazyload-measure lazyload-bg" data-src="/dist/images/building.jpg" alt="Hero image"
                data-query-obj='{"mode":"crop", "quality":"70", "center": "0.8,0.3"}' />
            {{!-- <div class="image-slideshow-slide__content">
                <h2 class="image-slideshow-slide__title">Interactively enable customized</h2>
                <p class="image-slideshow-slide__text">Interactively architect just in time platforms rather than
                    customized
                    relationships. Appropriately target collaborative.</p>
            </div> --}}
        </div>
        <div class="image-slideshow-slide">
            <img class="lazyload lazyload-measure lazyload-bg" data-src="/dist/images/video-preview.jpg"
                alt="Hero image" data-query-obj='{"mode":"crop", "quality":"70", "center": "0.8,0.3"}' />
            {{!-- <div class="image-slideshow-slide__content">
                <h2 class="image-slideshow-slide__title">Compellingly matrix</h2>
                <p class="image-slideshow-slide__text">Distinctively plagiarize professional strategic theme areas
                    rather
                    than user friendly solutions.</p>
            </div> --}}
        </div>
    </div>

    <div class="image-slideshow-navigation js-image-slideshow-navigation">
        <div class="image-slideshow-navigation__dot"></div>
        <div class="image-slideshow-navigation__dot"></div>
        <div class="image-slideshow-navigation__dot"></div>
    </div>
</div>