<section class="section section--no-spacing theme-gold">
    {{ render '@hero' }}
</section>

<section class="section section--no-spacing theme theme-blue">
    {{ render '@appetiser' }}
</section>

<section class="section theme theme-yellow">
    <div class="container">
        {{> @headline text="Yellow theme" }}
    </div>
</section>

<section class="section theme theme-red">
    <div class="container">
        {{> @headline text="Red theme" }}
    </div>
</section>

<section class="section theme theme-seashell">
    <div class="container">
        {{> @headline text="Seashell theme" }}
    </div>
</section>

<section class="section theme theme-green">
    <div class="container">
        {{> @headline text="Green theme" }}
    </div>
</section>

<section class="section theme theme-gray-1">
    <div class="container">
        {{> @headline text="Gray theme 1" }}
    </div>
</section>

<section class="section theme theme-gray-2">
    <div class="container">
        {{> @headline text="Gray theme 2" }}
    </div>
</section>

<section class="section theme theme-gray-3">
    <div class="container">
        {{> @headline text="Gray theme 3" }}
    </div>
</section>