.appetiser {
    display: flex;
    flex-wrap: wrap;
    background-repeat: no-repeat;
    background-size: 50%;
    background-position: right 10%;
    position: relative;
    width: 100%;

    &:not(.appetiser--small) {
        @media (--viewport-md-min) {
            min-height: 450px;
        }
    }

    &__content-wrapper {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: flex-start;
    }

    &__content {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        padding-top: 50px;
        padding-bottom: 50px;

        @media (--viewport-md-min) {
            width: 50%;
            height: 100%;
            flex-grow: 0;
            flex-shrink: 1;
            max-width: 570px;
        }
    }

    &__title {
        font-size: 40px;
        font-weight: 700;
        letter-spacing: 0.27px;
        line-height: 45px;
    }

    &__image {
        width: 100%;
        height: 100%;
        background-repeat: no-repeat;
        background-size: cover;

        @media (--viewport-sm-max) {
            &::before {
                content: '';
                padding-top: 56.25%;
                float: left;
            }
        }

        @media (--viewport-md-min) {
            width: 50%;
            position: absolute;
            top: 0;
            right: 0;
        }
    }

    &--small {
        flex-direction: column;

        .appetiser__image {
            box-shadow: 5px 10px 10px rgba(35, 35, 35, 0.1);
            width: 100%;
            height: auto;
            position: relative;
            order: -1;
            margin-bottom: 25px;

            &::before {
                content: '';
                padding-top: 56.25%;
                float: left;
            }
        }

        .appetiser__title {
            font-size: 25px;
            line-height: 35px;
            font-weight: 700;
        }

        .appetiser__content {
            width: 100%;
            max-width: none;
            padding: 0;
        }
    }

    &--image-left {
        .appetiser__image {
            right: auto;
            left: 0;
            order: -1;
        }

        .appetiser__content {
            @media (--viewport-md-min) {
                margin-left: 50%;
                padding-left: 100px;
            }
        }
    }

    &--image-right {
        .appetiser__content {
            @media (--viewport-md-min) {
                margin-right: 50%;
                padding-right: 100px;
            }
        }
    }

    &--content-center {
        .appetiser__content {
            align-items: center;
            text-align: center;
        }
    }

    &--content-right {
        .appetiser__content {
            align-items: flex-end;
            text-align: right;
        }
    }
}
