<section class="section">
    <div class="theme-blue">
        <div class="container">
            <div class="row">
                <div class="col-md-8">Large col</div>
                <div class="col-md-4">
                    {{> @appetiser size="small" isLarge="" }}
                </div>
            </div>
        </div>
    </div>
</section>