.breadcrumb {
  position: relative;
  padding: 30px 0;
}

.breadcrumb--shadow {
  padding: 30px 0 40px;
}

.breadcrumb--shadow::after {
  content: '';
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.4), transparent);
  pointer-events: none;
}

.breadcrumb--shadow .breadcrumb__link { color: #fff; }
.breadcrumb--shadow .breadcrumb__link--active { color: rgba(255, 255, 255, 0.8); }
.breadcrumb--shadow .breadcrumb__item + .breadcrumb--shadow .breadcrumb__item::before { color: #fff; }

.breadcrumb--pull-down {
  position: absolute;
  left: 0;
  right: 0;
  z-index: 3;
}

.breadcrumb__items {
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 0;
  padding-bottom: 0;
  position: relative;
  z-index: 1;
  font-size: 14px;
}

.breadcrumb__item {
  display: inline-block;
  line-height: 30px;
  list-style: none;
}

.breadcrumb__item + .breadcrumb__item::before {
  content: '/';
  padding: 5px 3px;
  color: #fff;
}

.breadcrumb__link {
  color: #666;
  text-decoration: none;
  display: inline-block;
  position: relative;
  transition: color 0.2s;
}

.breadcrumb__link[href]::after {
  content: '';
  transition: background-color 0.2s;
  height: 1px;
  background-color: #fff;
  display: block;
  position: absolute;
  bottom: 3px;
  width: 100%;
}

.breadcrumb__link[href]:hover::after,
.breadcrumb__link[href]:focus::after {
  background-color: rgba(255, 255, 255, 0.6);
}

.breadcrumb__link--active {
  color: #000;
}
