address {
  font-style: normal;
}

/* Needs to be removed when pull request image_style_changes is approved */
@media (min-width: 768px) {
  .video::before {
    padding-top: 56.25%;
  }
}

/* Needs to be removed when pull request image_style_changes is approved */
@media (min-width: 992px) {
  .appetiser {
    min-height: auto;
  }
  .appetiser:not(.appetiser--small) {
    min-height: 570px;
  }
}
.appetiser__content {
  padding-top: 50px;
  padding-bottom: 50px;
}
@media (max-width: 991px) {
  .appetiser__image::before {
    padding-top: 56.25%;
  }
}
.appetiser--small .appetiser__image::before {
  padding-top: 56.25%;
}
