/* Needs to be removed when pull request breadcrumb_changes is approved */
.breadcrumb {
  position: relative;
  padding: 30px 0;
}

.breadcrumb--shadow {
  padding: 30px 0 40px;
}

.breadcrumb--shadow .breadcrumb .breadcrumb__link {
  color: #fff;
}

.breadcrumb--shadow .breadcrumb .breadcrumb__link--active {
  color: rgba(255, 255, 255, 0.8);
}

.breadcrumb--shadow .breadcrumb .breadcrumb__item + .breadcrumb__item::before {
  color: #fff;
}

.breadcrumb--shadow::after {
  content: '';
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.4)), to(transparent));
  background: -o-linear-gradient(top, rgba(0, 0, 0, 0.4), transparent);
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.4), transparent);
  pointer-events: none;
}

.breadcrumb--pull-down {
  position: absolute;
  left: 0;
  right: 0;
  z-index: 3;
}

.breadcrumb__items {
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 0;
  padding-bottom: 0;
  position: relative;
  z-index: 1;
}

.breadcrumb__item {
  display: inline-block;
  line-height: 30px;
  list-style: none;
}

.breadcrumb__item + .breadcrumb__item::before {
  content: '/';
  padding: 5px 3px;
  color: #bcbcbc;
}

.breadcrumb__link {
  color: #bcbcbc;
  text-decoration: none;
  display: inline-block;
  position: relative;
  -webkit-transition: color 0.2s;
  -o-transition: color 0.2s;
  transition: color 0.2s;
}

/* Active state */
.breadcrumb__link--active {
  color: #000;
}
