/* Needs to be removed when pull request inline-navigation-image-fallback is approved */
.inline-navigation-item__image--fallback {
  display: flex;
  align-items: center;
  justify-content: center;
}

.inline-navigation-item__image--fallback svg {
  width: 20%;
  height: 20%;
  opacity: 0.5;
}
