/* Needs to be removed when pull request list_view_changes is approved */
.list-view-item {
  width: 100%;
}

.list-view-item__image {
  min-height: 200px;
}

@media (min-width: 992px) {
  .list-view-item__image {
    width: 25%;
  }
}

.list-view-item__image--fallback {
  background-color: #eee;
  display: flex;
  align-items: center;
  justify-content: center;
}

.list-view-item__image--fallback svg {
  width: 20%;
  height: 20%;
  opacity: 0.5;
}
