.logo {
    margin-right: auto;
    z-index: 3;

    @media (--viewport-md-max) {
        display: none;
    }

    &--mobile {
        display: none;

        @media (--viewport-md-max) {
            margin: 0 auto;
            text-align: center;
            box-shadow: 0 25px 75px rgba(0, 0, 0, 0.1);
            display: flex;
            align-items: center;
            position: relative;
            height: var(--header-height-mobile);
        }
    }

    &--floating {
        @media (--viewport-md-max) {
            position: absolute;
            left: 50%;
            transform: translate(-50%, calc(var(--grid-section-spacing--mobile) / 2));
        }
    }

    &__image {
        display: block;
        margin: 0 auto;
        height: 55px;
        transition: height 0.2s;

        @media (--viewport-xl-min) {
            height: 60px;
        }
    }
}
