.logo {
    margin-right: auto;
    z-index: 3;

    @media (--viewport-sm-max) {
        display: none;
    }

    &--mobile {
        display: none;

        @media (--viewport-sm-max) {
            display: block;
            margin: 0 auto;
            text-align: center;

            .logo__image {
                height: 55px;
            }
        }
    }

    &--floating {
        @media (--viewport-sm-max) {
            position: absolute;
            left: 50%;
            transform: translate(-50%, calc(var(--grid-section-spacing--mobile) / 2));
        }
    }

    &__image {
        display: block;
        margin: 0 auto;
        height: 60px;
    }
}
