{% if type == 'button' %}
  <button{{ (not attributes ? create_attribute() : attributes).addClass('button') }}>
    {{ text }}
  </button>
{% else %}
  <a{{ (not attributes ? create_attribute() : attributes).setAttribute('href', url).addClass('button') }}>
    {{ text }}
  </a>
{% endif %}
