<div{{ (not attributes ? create_attribute() : attributes).addClass('image-slideshow-wrapper').addClass('js-image-slideshow-wrapper').setAttribute('data-autoplay', autoplay ? 'true' : 'false') }}>
  <div class="image-slideshow js-image-slideshow">
    {% for item in items %}
      <div class="image-slideshow-slide">
        {{ item.image|image(image_style, 'lazyload lazyload-measure lazyload-bg') }}
      </div>
    {% endfor %}
  </div>
  <div class="image-slideshow-navigation js-image-slideshow-navigation">
    {% for item in items %}
      <div class="image-slideshow-navigation__dot"></div>
    {% endfor %}
  </div>
</div>
