<figure>
  <div{{ (not attributes ? create_attribute() : attributes).addClass('image') }}>
    {{ image|responsive_image(image_style, 'lazyload') }}
  </div>
  {% if caption %}
    <figcaption>{{ caption }}</figcaption>
  {% endif %}
</figure>
