<div class="inline-navigation">
    <div class="inline-navigation__list js-inline-navigation-slider">
        <a href="/" class="inline-navigation-item">
            <figure class="inline-navigation-item__image">
                <img class="lazyload lazyload-measure lazyload-bg" data-src="/dist/images/hero.jpg" alt="Image"
                    data-query-obj='{"mode":"crop", "quality":"70", "center": "0.8,0.3"}' />
            </figure>
            <h3 class="inline-navigation-item__title">I am a smaller headline and I am bold</h3>
            <p class="inline-navigation-item__text">
                I am a paragraph text. I have a maximum amount of characters and I inherit the alignment of the
                headline….
            </p>
            <span class="text-link">Link – I am a text link</span>
        </a>
        <a href="/" class="inline-navigation-item">
            <figure class="inline-navigation-item__image">
                <img class="lazyload lazyload-measure lazyload-bg" data-src="/dist/images/hero.jpg" alt="Image"
                    data-query-obj='{"mode":"crop", "quality":"70", "center": "0.8,0.3"}' />
            </figure>
            <h3 class="inline-navigation-item__title">I am a smaller headline and I am bold</h3>
            <p class="inline-navigation-item__text">
                I am a paragraph text. I have a maximum amount of characters and I inherit the alignment of the
                headline….
            </p>
            <span class="text-link">Link – I am a text link</span>
        </a>
        <a href="/" class="inline-navigation-item">
            <figure class="inline-navigation-item__image">
                <img class="lazyload lazyload-measure lazyload-bg" data-src="/dist/images/hero.jpg" alt="Image"
                    data-query-obj='{"mode":"crop", "quality":"70", "center": "0.8,0.3"}' />
            </figure>
            <h3 class="inline-navigation-item__title">I am a smaller headline and I am bold</h3>
            <p class="inline-navigation-item__text">
                I am a paragraph text. I have a maximum amount of characters and I inherit the alignment of the
                headline….
            </p>
            <span class="text-link">Link – I am a text link</span>
        </a>
    </div>
    {{> @cta text="See more from this list" modifier="inline-navigation__see-more" }}
</div>