<div class="video js-video" data-autoplay="false" data-video='{"url":"https://www.youtube.com/watch?v=6hsVlMzqUFI","oEmbed":{"type":"video","version":"1.0","title":"MIBR vs NiP StarLadder Major 2019 Map Dust2","author_name":"CS:GO Highlights","author_url":"https://www.youtube.com/channel/UCvyB-hrk4TGel_MBHV4iGTg","provider_name":"YouTube","provider_url":"https://www.youtube.com/","cache_age":null,"thumbnail_url":"https://i.ytimg.com/vi/6hsVlMzqUFI/hqdefault.jpg","thumbnail_width":480,"thumbnail_height":360,"html":"<iframe width=\"480\" height=\"270\" src=\"https://www.youtube.com/embed/6hsVlMzqUFI?feature=oembed\" frameborder=\"0\" allow=\"accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture\" allowfullscreen></iframe>","url":null,"width":480,"height":270}}'>
	<div class="video__iframe-wrapper js-video-iframe-wrapper"></div>

	<img class="lazyload lazyload-measure lazyload-bg" data-src="/dist/images/video-preview.jpg"
		alt="Video preview image" data-query-obj=' {"mode":"crop", "quality" :"70", "center" : "0.8,0.3" }' />

	<div class="video__play-icon js-video-play-icon">
    {{> '@svg-icon' svgIconName="play" }}
	</div>

	<div class="video__content">
		<div class="video__title">{{ title }}</div>
		<div class="video__subtitle">{{ subtitle }}</div>
	</div>
</div>
