<div class="meta-menu">
    <div class="container">
        <div class="meta-menu__inner">
            {{ render '@language-menu' }}
            <ul class="meta-menu-list">
                <li class="meta-menu-item">
                    <a href="#" class="meta-menu-item__link">metalink 1</a>
                </li>
                <li class="meta-menu-item">
                    <a href="#" class="meta-menu-item__link">metalink 2</a>
                </li>
                <li class="meta-menu-item">
                    <a href="#" class="meta-menu-item__link">metalink 3</a>
                </li>
            </ul>
        </div>
    </div>
</div>