{{> '@logo' modifier='logo--mobile' }}

{{ render '@header' }}

<main>
    <section class="section">
        <div class="container">
            <div class="list-view">
                <div class="row">
                    <div class="col-xs-12 col-md-6">
                        <a href="/" class="list-view-item">
                            <figure class="list-view-item__image">
                                <img class="lazyload lazyload-measure lazyload-bg" data-src="/dist/images/hero.jpg"
                                    alt="Image" data-query-obj='{"mode":"crop", "quality":"70", "center": "0.8,0.3"}' />
                            </figure>
                            <div class="list-view-item__content">
                                <h3 class="list-view-item__title">Lorem ipsum</h3>
                                <p class="list-view-item__text">
                                    Uniquely enable wireless catalysts for change after turnkey innovation. Compellingly
                                    productize enterprise communities
                                    for seamless e-business.
                                </p>
                                <span class="text-link">Læs mere</span>
                            </div>
                        </a>
                    </div>
                    <div class="col-xs-12 col-md-6">
                        <a href="/" class="list-view-item">
                            <figure class="list-view-item__image">
                                <img class="lazyload lazyload-measure lazyload-bg" data-src="/dist/images/hero.jpg"
                                    alt="Image" data-query-obj='{"mode":"crop", "quality":"70", "center": "0.8,0.3"}' />
                            </figure>
                            <div class="list-view-item__content">
                                <h3 class="list-view-item__title">Lorem ipsum</h3>
                                <p class="list-view-item__text">
                                    Uniquely enable wireless catalysts for change after turnkey innovation. Compellingly
                                    productize enterprise communities
                                    for seamless e-business.
                                </p>
                                <span class="text-link">Læs mere</span>
                            </div>
                        </a>
                    </div>
                    <div class="col-xs-12 col-md-6">
                        <a href="/" class="list-view-item">
                            <figure class="list-view-item__image">
                                <img class="lazyload lazyload-measure lazyload-bg" data-src="/dist/images/hero.jpg"
                                    alt="Image" data-query-obj='{"mode":"crop", "quality":"70", "center": "0.8,0.3"}' />
                            </figure>
                            <div class="list-view-item__content">
                                <h3 class="list-view-item__title">Lorem ipsum</h3>
                                <p class="list-view-item__text">
                                    Uniquely enable wireless catalysts for change after turnkey innovation. Compellingly
                                    productize enterprise communities
                                    for seamless e-business.
                                </p>
                                <span class="text-link">Læs mere</span>
                            </div>
                        </a>
                    </div>
                    <div class="col-xs-12 col-md-6">
                        <a href="/" class="list-view-item">
                            <figure class="list-view-item__image">
                                <img class="lazyload lazyload-measure lazyload-bg" data-src="/dist/images/hero.jpg"
                                    alt="Image" data-query-obj='{"mode":"crop", "quality":"70", "center": "0.8,0.3"}' />
                            </figure>
                            <div class="list-view-item__content">
                                <h3 class="list-view-item__title">Lorem ipsum</h3>
                                <p class="list-view-item__text">
                                    Uniquely enable wireless catalysts for change after turnkey innovation. Compellingly
                                    productize enterprise communities
                                    for seamless e-business.
                                </p>
                                <span class="text-link">Læs mere</span>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>