.inline-navigation {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    position: relative;

    @media (--viewport-sm-max) {
        padding-bottom: 100px;
    }

    &__list {
        width: 100%;
        outline: none;

        @media (--viewport-ms-min) {
            margin: -25px;
            display: flex;
            flex-wrap: wrap;
        }

        @media (--viewport-sm-max) {
            overflow-x: hidden;
            padding-left: 20px;
            padding-right: 20px;
        }

        @media (--viewport-lg-min) {
            margin: -50px;
        }
    }

    &__see-more {
        margin-left: auto;
        margin-right: auto;
        margin-top: 50px;

        @media (--viewport-md-min) {
            margin-top: 100px;
        }
    }

    &--one-column {
        .inline-navigation-item {
            @media (--viewport-md-min) {
                width: 100%;
            }
        }
    }

    &--two-columns {
        .inline-navigation-item {
            @media (--viewport-md-min) {
                width: calc(50% - 100px);
            }

            &__image {
                &::before {
                    @media (--viewport-sm-min) {
                        padding-top: 75%;
                    }
                }
            }
        }
    }
}

.inline-navigation-item {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    flex-shrink: 0;
    flex-grow: 0;
    color: currentColor;
    text-decoration: none;
    width: calc(90% - 40px);
    margin: 20px;

    @media (--viewport-ms-min) {
        width: calc(50% - 40px);
        margin: 20px;
    }

    @media (--viewport-sm-min) {
        width: calc(50% - 50px);
        margin: 25px;
    }

    @media (--viewport-lg-min) {
        width: calc(calc(100% / 3) - 100px);
        margin: 50px;
    }

    &__image {
        width: 100%;
        box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.1);
        margin-bottom: 20px;

        &--fallback {
            display: flex;
            align-items: center;
            justify-content: center;

            svg {
                width: 20%;
                height: 20%;
                opacity: 0.5;
            }
        }

        &::before {
            content: '';
            display: block;
            float: left;
            padding-top: 100%;
        }
    }

    &__title {
        margin-bottom: 30px;
        letter-spacing: 0.17px;

        @media (--viewport-md-min) {
            letter-spacing: 0.2px;
        }
    }

    &__text {
        margin-bottom: 30px;
        font-size: 15px;
        font-weight: 300;
        letter-spacing: 0.37px;
        line-height: 20px;

        @media (--viewport-md-min) {
            font-size: 18px;
            font-weight: 300;
            letter-spacing: 0.44px;
            line-height: 24px;
        }
    }
}
