.search-toggle {
    cursor: pointer;
    flex-shrink: 0;
    flex-grow: 0;
    height: 100%;
    display: inline-flex;
    align-items: center;
    color: #232323;
    letter-spacing: 0.37px;

    @media (--viewport-sm-max) {
        width: 50%;
        flex-shrink: 0;
        flex-grow: 0;
        font-size: 12px;
        border-right: solid 1px var(--header-border-color);
        justify-content: center;
    }

    @media (--viewport-md-min) {
        height: 72%;
        margin-left: 77px;
        padding-left: 40px;
        border-left: solid 1px #00655d;
    }

    .icon--search {
        width: 26px;
        height: 26px;
        fill: var(--header-selected-text-color);
        margin-right: 13px;
    }
}
