<nav :class="{ 'burger-menu--open': isOpen }" class="burger-menu" id="js-burger-menu">
    {{!-- language picker? --}}
    <div @click="closeBurgerMenu()" class="burger-menu__close">
        <div class="burger-menu__close-label">Close (Esc)</div>
        {{> '@svg-icon' svgIconName="close" }}
    </div>
    <div class="container">
        <div class="burger-menu__inner">
            <div class="row">
                <div class="col-xs col-xs-offset-1 col-md-6">
                    <div class="burger-menu-list__label">Main links</div>
                    <ul class="burger-menu-list">
                        <li class="burger-menu-list-item js-burger-menu-list-item">
                            <a href="#" class="burger-menu-list-item__link">
                                Our services
                                <svg class="icon icon--arrow-line-down" @click="triggerSubNavigation($event)">
                                    <use xmlns:xlink="http://www.w3.org/1999/xlink"
                                        xlink:href="{{ path '/dist/icons/icons.svg#arrow-line-down' }}">
                                    </use>
                                </svg>
                            </a>
                            <ul class="burger-menu-list burger-menu-list--secondary">
                                <div class="burger-menu-list__label">Secondary links</div>
                                <li class="burger-menu-list-item">
                                    <a href="#" class="burger-menu-list-item__link">Events</a>
                                </li>
                                <li class="burger-menu-list-item">
                                    <a href="#" class="burger-menu-list-item__link">Secondary link</a>
                                </li>
                                <li class="burger-menu-list-item">
                                    <a href="#" class="burger-menu-list-item__link">And another link</a>
                                </li>
                                <li class="burger-menu-list-item">
                                    <a href="#" class="burger-menu-list-item__link">And another link</a>
                                </li>
                            </ul>
                        </li>
                        <li class="burger-menu-list-item js-burger-menu-list-item">
                            <a href="#" class="burger-menu-list-item__link">Our cases</a>
                        </li>
                        <li class="burger-menu-list-item js-burger-menu-list-item">
                            <a href="#" class="burger-menu-list-item__link">
                                Career
                                <svg class="icon icon--arrow-line-down" @click="triggerSubNavigation($event)">
                                    <use xmlns:xlink="http://www.w3.org/1999/xlink"
                                        xlink:href="{{ path '/dist/icons/icons.svg#arrow-line-down' }}">
                                    </use>
                                </svg>
                            </a>
                            <ul class="burger-menu-list burger-menu-list--secondary">
                                <div class="burger-menu-list__label">Secondary links</div>
                                <li class="burger-menu-list-item">
                                    <a href="#" class="burger-menu-list-item__link">Events</a>
                                </li>
                                <li class="burger-menu-list-item">
                                    <a href="#" class="burger-menu-list-item__link">Secondary link</a>
                                </li>
                                <li class="burger-menu-list-item">
                                    <a href="#" class="burger-menu-list-item__link">Another link</a>
                                </li>
                            </ul>
                        </li>
                        <li class="burger-menu-list-item js-burger-menu-list-item">
                            <a href="#" class="burger-menu-list-item__link">Who we are</a>
                        </li>
                        <li class="burger-menu-list-item js-burger-menu-list-item">
                            <a href="#" class="burger-menu-list-item__link">Contact</a>
                        </li>
                        <li class="burger-menu-list-item js-burger-menu-list-item">
                            <a href="#" class="burger-menu-list-item__link">Journal</a>
                        </li>
                    </ul>
                </div>
                <div class="col-xs-12 col-xs-offset-1 col-md-2">
                    <div class="burger-menu-list__label">Highlighted links</div>
                    <ul class="burger-menu-list burger-menu-list--highlighted">
                        <li class="burger-menu-list-item">
                            <a href="#" class="burger-menu-list-item__link">Highlighted link</a>
                        </li>
                        <li class="burger-menu-list-item">
                            <a href="#" class="burger-menu-list-item__link">Highlighted link</a>
                        </li>
                        <li class="burger-menu-list-item">
                            <a href="#" class="burger-menu-list-item__link">Highlighted link</a>
                        </li>
                        <li class="burger-menu-list-item">
                            <a href="#" class="burger-menu-list-item__link">Highlighted link</a>
                        </li>
                        <li class="burger-menu-list-item">
                            <a href="#" class="burger-menu-list-item__link">Highlighted link</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col-xs col-xs-offset-1 col-sm-5 col-lg-3">
                    <div class="burger-menu-contact-info">
                        <h3 class="burger-menu-contact-info__title">Contact info</h3>
                        <p class="burger-menu-contact-info__text">
                            Short description<br>
                            Address<br>
                            Postal code an area<br>
                            Phone number<br>
                        </p>
                        <a href="#" class="burger-menu-contact-info__link">WayFinding</a>
                    </div>
                </div>
                <div class="col-xs col-xs-offset-1 col-sm-5 col-lg-3">
                    <div class="burger-menu-contact-info">
                        <h3 class="burger-menu-contact-info__title">Contact info</h3>
                        <p class="burger-menu-contact-info__text">
                            Short description<br>
                            Address<br>
                            Postal code an area<br>
                            Phone number<br>
                        </p>
                        <a href="#" class="burger-menu-contact-info__link">WayFinding</a>
                    </div>
                </div>
                <div class="col-xs col-xs-offset-1 col-sm-5 col-lg-3">
                    <div class="burger-menu-contact-info">
                        <h3 class="burger-menu-contact-info__title">Contact info</h3>
                        <p class="burger-menu-contact-info__text">
                            Short description<br>
                            Address<br>
                            Postal code an area<br>
                            Phone number<br>
                        </p>
                        <a href="#" class="burger-menu-contact-info__link">WayFinding</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</nav>
