.headline {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    font-family: var(--base-font-family);
    font-weight: 300;
    font-size: 22px;
    letter-spacing: 0.14px;
    line-height: 30px;
    text-align: center;

    &--left {
        text-align: left;
    }

    &--right {
        text-align: right;
    }

    @media (--viewport-md-min) {
        font-size: 35px;
        letter-spacing: 0.24px;
        line-height: 55px;
    }
}
