<div class="quote">
    {{> '@svg-icon' svgIconName="quote" }}
    <p>
        <span class="blue-text">I am a Quote meant for articles and longer pages</span> – look at me I can
        change color.
    </p>
    {{> '@svg-icon' svgIconName="quote" }}
    <div class="quote__author">- Some person</div>
</div>
