.video {
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    box-shadow: 0 27px 50px 0 rgba(35, 35, 35, 0.15);
    color: black;
    font-family: var(--heading-font-family);
    display: flex;
    width: 100%;

    &--inverted {
        color: white;
    }

    &::before {
        @media (--viewport-sm-min) {
            content: '';
            display: block;
            float: left;
            padding-top: 56.25%;
            z-index: -1;
        }
    }

    iframe {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
    }

    &__play-icon {
        width: 125px;
        height: 125px;
        border: solid 3px currentColor;
        border-radius: 50%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: inline-flex;
        align-items: center;
        justify-content: center;
        z-index: 2;
        cursor: pointer;
        transition: opacity 0.3s;

        .icon--play {
            width: 45px;
            height: 50px;
            fill: currentColor;
            transform: translateX(5px);
        }
    }

    &__content {
        position: absolute;
        width: 90%;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        z-index: 2;
        margin-bottom: 60px;
        transition: opacity 0.3s;
    }

    &__title {
        font-size: 40px;
        font-weight: 700;
        letter-spacing: 0.3px;
        line-height: 50px;
        text-align: center;
    }

    &__subtitle {
        font-size: 20px;
        letter-spacing: 0.49px;
        line-height: 25px;
        text-align: center;
        margin-top: 20px;
    }

    &--hide-content {
        .video__content,
        .video__play-icon {
            opacity: 0;
        }
    }
}
