<header class="header">
{#  {% include '@dds_premium/components/molecules/m-meta-menu.html.twig' with {#}
{#    'language_switcher': language_switcher,#}
{#    'meta_menu': meta_menu#}
{#  } %}#}
  <div class="container">
    <div class="header__inner">
      {{ site_branding }}
      {{ main_navigation }}
      {% if display_burger_toggle %}
        {% include '@dds_premium/components/molecules/m-burger.html.twig' %}
      {% endif %}
      {% if display_search_toggle %}
        {% include '@dds_premium/components/molecules/m-search-toggle.html.twig' %}
      {% endif %}
    </div>
  </div>
</header>
