<div{{ attributes.addClass('submenu') }}>
  <nav class="submenu__navigation js-submenu">
    {% for link in links %}
      <a href="{{ link.url }}">
        {{ link.title }}
      </a>
    {% endfor %}
    <div class="js-submenu-shadow-left submenu__shadow-left"></div>
    <div class="js-submenu-shadow-right submenu__shadow-right"></div>
  </nav>
</div>

