{% set allow_spacing = settings.column_spacing and settings.column_spacing != 'none' %}

{% set classes = [
  'paragraph',
  'paragraph--type-' ~ layout.getTemplate|clean_class,
  view_mode ? 'paragraph--view-mode-' ~ view_mode|clean_class,
  settings.color_theme != 'none' ? 'theme theme-' ~ settings.color_theme,
  'section',
  not allow_spacing ? 'section--no-spacing'
] %}

<section {{ attributes.addClass(classes) }}>
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-md-4">
        {{ content.primary }}
      </div>
      <div class="col-xs-12 col-md-4">
        {{ content.secondary }}
      </div>
      <div class="col-xs-12 col-md-4">
        {{ content.tertiary }}
      </div>
    </div>
  </div>
</section>
