.burger-menu {
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    background-color: white;
    box-shadow: 0 25px 50px 0 rgba(0, 0, 0, 0.1);
    z-index: 200;
    transform: translateX(-100px);
    opacity: 0;
    transition: transform 0.4s, opacity 0.4s;
    will-change: transform;
    pointer-events: none;

    @media (--viewport-md-max) {
        overflow-y: scroll;
    }

    @media (--viewport-lg-min) {
        width: 90vw;
    }

    &__inner {
        height: 100vh;
        padding: 100px 0 100px 50px;
    }

    &__close {
        position: absolute;
        top: 40px;
        right: 40px;
        font-size: 15px;
        color: #d5d5d5;
        font-weight: 300;
        letter-spacing: 0.26px;
        display: inline-flex;
        align-items: center;
        justify-content: space-between;
        cursor: pointer;

        .icon--close {
            width: 20px;
            height: 20px;
            margin-left: 15px;
        }
    }

    &--open {
        opacity: 1;
        transform: translateX(0);
        pointer-events: auto;
    }

    &__logo {
        position: absolute;
        top: 40px;
        left: 40px;
        display: inline-flex;
        align-items: center;
        justify-content: space-between;
        cursor: pointer;

        @media (--viewport-lg-min) {
            display: none;
        }
    }
}

.burger-menu-list {
    list-style: none;
    padding: 0;
    margin: 0 0 30px;
    color: #232323;
    font-size: 30px;
    font-weight: 700;
    letter-spacing: 0.2px;
    line-height: 40px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;

    &__label {
        color: #d5d5d5;
        font-size: 16px;
        font-weight: 300;
        letter-spacing: 0.26px;
        line-height: 21px;
        margin-bottom: 21px;

        @media (--viewport-md-max) {
            display: none;
        }
    }

    &--secondary {
        font-size: 20px;
        font-weight: 700;
        letter-spacing: 0.2px;
        line-height: 20px;
        margin-bottom: 0;
        transition: all 0.3s;
        opacity: 0;
        transform: translateX(-10px);
        visibility: hidden;

        @media (--viewport-md-max) {
            max-height: 0;
            margin-left: 20px;
        }

        @media (--viewport-lg-min) {
            position: absolute;
            top: 0;
            left: 300px;
        }

        .burger-menu-list__label {
            position: absolute;
            top: -40px;
        }
    }

    &--highlighted {
        color: #959595;
        font-size: 18px;
        font-weight: 700;
        letter-spacing: 0.12px;
        line-height: 35px;
    }
}

.burger-menu-list-item {
    font-family: var(--heading-font-family);
    position: relative;

    @media (--viewport-md-max) {
        display: flex;
        flex-direction: column;
    }

    &__link {
        text-decoration: none;
        color: currentColor;
        margin-bottom: 20px;
        display: flex;
        align-items: center;

        .icon--arrow-line-down {
            width: 42px;
            height: 42px;
            transition: transform 0.3s;
            will-change: transform;
            padding: 8px;
            margin-left: 5px;
            position: absolute;
            left: -60px;
            fill: var(--color-primary);
            top: 0;

            @media (--viewport-md-min) {
                position: relative;
                left: 0;
            }
        }
    }

    &--show-sub-navigation {
        color: var(--color-primary);

        .burger-menu-list--secondary {
            opacity: 1;
            visibility: visible;
            transform: translateX(0);
            width: 100%;

            @media (--viewport-md-max) {
                max-height: none;
            }
        }

        .icon--arrow-line-down {
            transform: rotate(-90deg);

            @media (--viewport-lg-min) {
                transform: rotate(-90deg) translateY(5px);
            }
        }
    }
}

.burger-menu-contact-info {
    font-size: 15px;
    font-weight: 300;
    letter-spacing: 0.12px;
    line-height: 25px;

    @media (--viewport-md-max) {
        margin-bottom: 20px;
    }

    &__title {
        font-size: 20px;
        font-weight: 700;
        margin-bottom: 5px;
    }

    &__text {
        color: #959595;
        margin: 0;
    }
}

.burger-menu-newsletter-signup {
    &__title {
        color: #263ed3;
        font-size: 25px;
        font-weight: 700;
        letter-spacing: 0.19px;
        line-height: 30px;
    }
}
