.theme-blue {
    --theme-background-color: #263ed3;
    --theme-color: #fff;
    --theme-button-background-color: #fff;
    --theme-button-color: #263ed3;
    --theme-link-color: #fff;
    --theme-divider-background-color: #fff;
    --theme-accordion-border-color: #263ed3;
    --theme-accordion-background-color: #fff;
    --theme-accordion-text-color: #000;
    --theme-input-border: #fff;
    --theme-input-color-marked: #fff;
}
