.theme-secondary {
    --theme-background-color: #e7ebe3;
    --theme-color: #474747;
    --theme-button-background-color: #db6010;
    --theme-button-color: #fff;
    --theme-link-color: #474747;
    --theme-divider-background-color: #fff;
    --theme-accordion-border-color: #474747;
    --theme-accordion-background-color: #474747;
    --theme-accordion-text-color: #fff;
    --theme-input-border: #fff;
    --theme-input-color-marked: #474747;
    --theme-background-svg-background-color: #d1e0dc;
}
