.theme-seashell {
    --theme-background-color: #ffefe5;
    --theme-color: #1fc8a9;
    --theme-button-background-color: #1fc8a9;
    --theme-button-color: #ffefe5;
    --theme-link-color: #1fc8a9;
}
