.theme-primary {
    --theme-background-color: #c6d9df;
    --theme-color: #00655d;
    --theme-button-background-color: #00655d;
    --theme-button-color: #fff;
    --theme-link-color: #fff;
    --theme-divider-background-color: #fff;
    --theme-accordion-border-color: #c6d9df;
    --theme-accordion-background-color: #fff;
    --theme-accordion-text-color: #00655d;
    --theme-input-border: #00655d;
    --theme-input-color-marked: #00655d;
}
