/**
 * Type: Molecules.
 * Logo.
 */

.logo {
    z-index: 3;

    &__image {
        display: block;
        margin: 0;
        height: 45px;

        @media (--viewport-lg-min) {
            height: 75px;
            max-width: 100%;
        }
    }
}
