/* Default styling for forms */
.form-item { margin-bottom: 20px; }

.form-item .description {
  opacity: 0.5;
  margin-left: 30px;
  margin-top: 9px;
}

.form-actions {
  margin-left: 30px;
}

.layout-builder-form .form-actions {
  margin-left: 0;
}

.form-actions .button+.button {
  margin-left: 5px;
}

.label.form-required:after {
  content: '*';
  color: #f00;
  display: inline-block;
  padding-left: 5px;
}
