/* Maintenance page */
.maintenance-page {
  text-align: center;
}

.maintenance-page__title {
  font-size: 22px;
  letter-spacing: 0.14px;
  line-height: 30px;
}

.maintenance-page__content {
  font-size: 16px;
}

@media (max-width: 991px) {
  .maintenance-page {
    margin-top: 40px;
  }
}

@media (min-width: 992px) {
  .maintenance-page__title {
    font-size: 35px;
    letter-spacing: 0.24px;
    line-height: 55px;
  }
}
