/* Maintenance page */
div.maintenance-page {
  margin-top: 30px;
  margin-bottom: 100px;
}

.maintenance-page__title {
  font-size: 22px;
  letter-spacing: 0.14px;
  line-height: 30px;
  margin-bottom: 10px;
}

.maintenance-page__content {
  font-size: 16px;
}

@media (max-width: 991px) {
  div.maintenance-page {
    margin-top: 40px;
  }
  .header {
    display: none;
  }
  body {
    padding: 0;
  }
}

@media (min-width: 992px) {
  .maintenance-page__title {
    font-size: 35px;
    letter-spacing: 0.24px;
    line-height: 55px;
  }
}

.maintenance-page .layout-container {
  margin: 0;
}
