<div class="language-menu" id="js-language-menu">
    <div class="language-menu__trigger" id="js-language-menu-trigger" @click="toggleLanguageMenu()">
        {{> '@svg-icon' svgIconName="globe" }}
        Choose Country
        {{> '@svg-icon' svgIconName="arrow-down" }}
    </div>
    <ul class="language-menu-list" :class="{ 'language-menu-list--open': isOpen }" id="js-language-menu-list">
        <li class="language-menu-list-item">
            <a href="" class="language-menu-list-item__link">DK</a>
        </li>
        <li class="language-menu-list-item">
            <a href="" class="language-menu-list-item__link">EN</a>
        </li>
    </ul>
</div>
