<nav class="navigation" id="js-navigation">
    <ul class="navigation-list">
        <li class="navigation-item navigation-item--active navigation-item--has-children js-navigation-item">
            <a href="/" class="navigation-item__link">
                Our services
            </a>
            {{> '@svg-icon' svgIconName="arrow-line-down" }}
            {{ render '@sub-navigation' }}
        </li>
        <li class="navigation-item js-navigation-item">
            <a href="/" class="navigation-item__link">
                Our cases
            </a>
            {{> '@svg-icon' svgIconName="arrow-line-down" }}
        </li>
        <li class="navigation-item navigation-item--has-children js-navigation-item">
            <a href="/" class="navigation-item__link">
                Career
            </a>
            {{> '@svg-icon' svgIconName="arrow-line-down" }}
            {{ render '@sub-navigation' }}
        </li>
        <li class="navigation-item js-navigation-item">
            <a href="/" class="navigation-item__link">
                Who we are
            </a>
            {{> '@svg-icon' svgIconName="arrow-line-down" }}
        </li>
        <li class="navigation-item js-navigation-item">
            <a href="/" class="navigation-item__link">
                Contact
            </a>
            {{> '@svg-icon' svgIconName="arrow-line-down" }}
        </li>
    </ul>
</nav>
