<a href="#" class="search-toggle js-search-toggle">
{% include '@dds_premium/components/atoms/a-svg-icon.html.twig' with {
    'svgIconName': 'search'
  } %}
  <div class="search-toggle__label">{{ 'Search'|t({}, {'context' : 'premium'}) }}</div>
</a>
