.text-link {
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 0.39px;
    line-height: 18px;
    position: relative;
    color: var(--theme-link-color);
    overflow: hidden;
    text-decoration: underline;
}
