.image-slideshow-wrapper {
    outline: none;
    position: relative;
    cursor: grab;
    width: 100%;
}

.image-slideshow-slide {
    width: 100%;
    height: 400px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
    position: relative;

    @media (--viewport-md-min) {
        height: 700px;
    }

    &::before {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-color: rgba(0, 0, 0, 0.3);
        z-index: 1;
    }

    &__content {
        width: 90%;
        max-width: 800px;
        position: absolute;
        left: 50%;
        bottom: 60px;
        color: white;
        text-align: center;
        z-index: 2;
        opacity: 0;
        transform: translateY(20px) translateX(-50%);
        transition: all 0.7s 0.3s;
        will-change: transform;
    }

    &.is-selected {
        .image-slideshow-slide__content {
            opacity: 1;
            transform: translateY(0) translateX(-50%);
        }
    }
}

.image-slideshow-navigation {
    position: absolute;
    bottom: 30px;
    width: 100%;
    z-index: 1;
    outline: none;

    &__dot {
        width: 10px;
        height: 10px;
        background-color: white;
        opacity: 0.5;
        border-radius: 50%;
        cursor: pointer;
        transition: opacity 0.5s 0.1s;
        margin-right: 20px;

        &::before {
            content: '';
            border-radius: 50%;
            position: absolute;
            left: 5px;
            top: 5px;
            transform: translate(-50%, -50%);
            width: 22px;
            height: 22px;
            border: solid 2px white;
            opacity: 0;
            transition: opacity 0.5s 0.1s;
        }

        &.is-selected {
            opacity: 1;

            &::before {
                opacity: 0.3;
            }
        }
    }
}
