/* Default styling for forms */
.form-item { margin-bottom: 15px; }

.form-item .description {
  margin-top: 5px;
  opacity: 0.5;
}

.form-actions { margin-top: 15px; }

.form-actions .button+.button {
  margin-left: 5px;
}
