/* Local tasks - default styling */
ul.local-tasks {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 11px 0;
  background: #272727;
  margin: 0;
  border-top: 1px solid #484848;
  z-index: 13;
  width: 100%;
}

ul.local-tasks li {
  font-size: 16px;
}

ul.local-tasks li:after {
  content: "|";
  margin: 0 10px;
}

ul.local-tasks li:last-child:after {
  content: "";
}

ul.local-tasks a {
  color: #FFFFFF;
  text-decoration: none;
}

ul.local-tasks a:hover,
ul.local-tasks a:focus {
  color: #FFFFFF;
  text-decoration: underline;
}
